
.index__nav-social {
  position         : fixed;
  z-index          : 1;
  top              : 70px;
  left             : 0;
  width            : 35px;
  transition       : all 0.33s, width 0.2s;
  transform        : translate3d(-35px, 0, 0);
  text-align       : center;
  background-color : $offWhite;
  line-height      : 35px;

  .index-view & {
    transition-delay : 0.5s;
    transform        : translate3d(0, 0, 0);
  }

  .is-ie9 & {
    transform  : translate(-35px,0);
  }

  .index-view.is-ie9 & {
    transform  : translate(0,0);
  }

  .category-view & {
    opacity: 0;
  }

  .index__social-link {
    display       : block;
    border-bottom : none;

    @include breakpoint(sm) {
      float        : left;
      border-right : none;
    }
  }

  .category-view & {
    transition-delay : 0s;
    transform        : translate3d(-35px, 0, 0);

    @include breakpoint(sm){
      transform : translate3d(0, -30px, 0);
    }
  }

  .category-view.is-ie9 & {
    transform  : translate(-35px,0);

    @include breakpoint(sm){
      transform  : translate(0,-30px);
    }
  }

  @include breakpoint(sm) {
    top         : 0;
    left        : 126px;
    overflow    : hidden;
    width       : 30px;
    height      : 30px;
    font-size   : 18px;
    line-height : 30px;
    transform   : translate3d(0, -35px, 0);

    .is-ie9 & {
      transform  : translate(0,-35px);
    }

    &.clicked {
      width : 180px;
    }
  }
}

.index__share-icon {
  display : none;

  .category-view & {
    opacity: 0;
  }

  @include breakpoint(sm){
    display : block;
  }
}

.index__nav {
  position         : fixed;
  z-index          : 10;
  top              : 0;
  left             : 0;
  width            : 35px;
  transition       : all 0.33s;
  transform        : translate3d(-35px, 0, 0);
  text-align       : center;
  background-color : $offWhite;
  line-height      : 35px;

  .index-view & {
    transition-delay : 0.33s;
    transform        : translate3d(0, 0, 0);

  }

  .is-ie9 & {
    transform  : translate(-35px,0);
  }

  .index-view.is-ie9 & {
    transform  : translate(0,0);
  }

  a {
    color : $sidebarNavColor;
    &:hover {
      color : $sidebarNavColor;
    }
  }

  @include breakpoint(sm) {
    left        : 66px;
    width       : 60px;
    line-height : 30px;
  }
}

.index__nav-item {
  position      : relative;
  width         : 35px;
  height        : 35px;
  cursor        : pointer;
  color         : $sidebarNavColor;
  border-bottom : 1px solid $mainSiteColor;
  font-size     : 20px;
  transition: color 0.1s;

  &:visited {
    color : $sidebarNavColor;
  }

  &:hover {
    color: $mainSiteColor;
  }

  @include breakpoint(sm) {
    float         : left;
    width         : 30px;
    height        : 30px;
    border-right  : 1px solid $mainSiteColor;
    border-bottom : none;
    font-size     : 18px;
  }
}

.index__header-contaner {
  max-width : 1200px;
  margin    : 0 auto;
}

.index__header {
  padding-bottom   : 110px;
  background-color : $mainSiteColor;

  @include breakpoint(sm){
    padding-bottom : 140px;
  }
}

.index__winners {
  position       : absolute;
  top            : -50px;
  right          : 0;
  left           : 0;
  text-align     : center;
  text-transform : uppercase;
  color          : rgba(255,255,255,0.25);
  font-size      : 120px;
  font-weight    : bold;

  @include breakpoint(md) {
    top       : -30px;
    font-size : 88px;
  }

  @include breakpoint(xs){
    top       : -15px;
    font-size : 62px;
  }

  @include breakpoint(xxs) {
    font-size : 48px;

  }
}

.index__hex-ad-container {
  position    : absolute;
  z-index     : 1;
  top         : 0;
  left        : 100%;
  width       : 200px;
  height      : 200px;
  margin-left : -100px;
  margin-top  : 25px;

  @include breakpoint(tb){
    width       : 160px;
    height      : 160px;
    margin-left : -80px;
  }

  @include breakpoint(sm) {
    top: 180px;
  }
  @include breakpoint(xs) {
    top: 150px;
  }
  @include breakpoint(xxs) {
    top: 130px;
  }
}

.index__hex-ad {
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background      : url('../images/hex-ad.png') center center no-repeat;
  background-size : contain;
}

.index__element {
  padding : 5px;
  color   : #fff;
}

.index__copy {
  margin-top: 10px;
}

.index__headline {
  width           : 80%;
  height          : 0;
  margin-top      : 40px;
  margin-bottom   : 0;
  padding-bottom  : 33.7687%;
  transition      : all 0.05s;
  text-transform  : uppercase;
  background      : url("../images/eta-logo.png") center center no-repeat;
  background-size : contain;
  text-shadow     : 2px 1px 0px rgba(68, 68, 68, 1);
  font-family     : $evtechFont;
  font-size       : 60px;
  font-weight     : lighter;
  line-height     : 0.8;

  @include breakpoint(lg){
    font-size : 42px;
  }

  @include breakpoint(sm) {
    width      : 100%;
    margin-top : 50px;
  }
}

.index__tech {
  color : $sidebarNavColor;
}

.index__awards {
  position  : relative;
  top       : -15px;
  left      : 225px;
  font-size : 40px;

  @include breakpoint(lg) {
    top       : -9px;
    left      : 155px;
    font-size : 28px;
  }
}

.index__subheadline {
  position       : relative;
  left           : 50px;
  margin-top     : 10px;
  margin-bottom  : 25px;
  text-transform : uppercase;
  font-size      : 18px;
  font-weight    : normal;
  font-weight    : 100;
}

.categories {
  position      : relative;
  top           : -100px;
  margin-bottom : 150px;
}


.categories__repeated {
  padding : 0;
  background-color : #fff;

  &:hover {
    a {
      text-decoration : none;
    }
  }

  &:nth-child(odd) {
    transform : translate(0,100px);

    @include breakpoint(sm){
    transform : translate(0,0);
    }
  }
}

.categories__thumbnail {
  height           : 0px;
  margin           : -4px;
  padding-bottom   : 100%;
  border           : 8px solid #fff;
  border-radius    : 0px;
  background-color : #fff;

  @include breakpoint(sm){
    margin    : 0 0 -8px;
    border    : 8px solid #fff;
  }
}

.categories__caption {
  width            : 100%;
  height           : 0;
  padding-bottom   : 103%;
  transition       : opacity 0.25s ease;
  text-align       : center;
  text-transform   : uppercase;
  opacity          : 0;
  color            : $mainSiteColor;
  background-color : rgba(0,0,0,0.5);

  &:hover {
    opacity : 1;
  }

  @include breakpoint(tb) {
    position       : absolute;
    right          : 4px;
    bottom         : 4px;
    left           : 4px;
    width          : auto;
    height         : auto;
    padding-bottom : 0;
    opacity        : 1;
  }

  @include breakpoint(sm) {
    bottom: 0;
    left   : 8px;
    right  : 8px;
  }
}

.categories__header {
  margin-top  : 0;
  padding     : 35% 10px;
  font-weight : bold;
  font-style  : italic;

  @include breakpoint(lg){
    font-size : 16px;
  }

  @include breakpoint(tb) {
    width       : 90%;
    margin      : 5px auto 10px;
    margin-top  : 5px;
    padding     : 0;
    line-height : 1.2;
  }

  @include breakpoint(sm) {
    margin-top : 10px;
    font-size  : 28px;
  }
}