<div class="index__header-contaner">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 index__header">
        <h1 class="index__element index__headline ir">Ex Sample Awards</h1>
        <div class="index__hex-ad-container">
        </div>
        <p class="index__element index__copy col-xs-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a est risus. Pellentesque laoreet id augue vel sodales. Etiam non lobortis risus, in ullamcorper quam. Ut ut dictum sem. Aenean molestie est purus, quis sagittis augue lobortis sit amet. Proin et semper tortor.</p>
      </div>
    </div>
</div>

<categories></categories>
